html{
    height: 100%;
    background: linear-gradient(to bottom, #000000, #4A94FD);
    background-repeat: no-repeat;
}

body{
    margin: 0px;
    padding: 30px auto 0px auto;
}

img{
    display: block;
    margin: auto;
    width: 220px;
}

button{
    margin: auto;
    display: block;
}

#matrix td {
    width: 50px;
    height: 35px;
    border: 10px solid #00447E;
    border-radius: 4px;
    background-color: blue;
    position: relative; /* Needed for absolute positioning of pseudo-elements */
    font-size: 24px; /* Adjust as needed */
    text-align: center;
    line-height: 50px; /* This helps vertically center the pseudo-elements */
  }
  
  #matrix td::before {
    content: "●";
    color: white; /* Circle color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  
  #matrix td.highlighted {
    background-color: yellow;
  }
  
  #matrix td.highlighted::before {
    opacity: 0; /* Hide circle */
  }
  
  #matrix td.highlighted::after {
    content: "★";
    color: black; /* Star color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

table{
    margin: 25px auto 25px auto;
}




@media screen and (min-width:550px){
    img{
        width: 230px;
    }

    #matrix td {
        width: 50px;
        height: 35px;
        border: 1px solid black;
        background-color: blue;
        position: relative; /* Needed for absolute positioning of pseudo-elements */
        font-size: 24px; /* Adjust as needed */
        text-align: center;
        line-height: 50px; /* This helps vertically center the pseudo-elements */
        margin: 25px 3px;
        border-collapse: separate;
        border-spacing: 0 10px; 
      }
      
      #matrix td::before {
        content: "●";
        color: white; /* Circle color */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      
      #matrix td.highlighted {
        background-color: yellow;
      }
      
      #matrix td.highlighted::before {
        opacity: 0; /* Hide circle */
      }
      
      #matrix td.highlighted::after {
        content: "★";
        color: black; /* Star color */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
    table{
        margin: 25px auto 25px auto;
    }
      
}