@media screen and (max-width:450px){

    html,body{
        margin:0px;
        padding: 0px;
        overflow-x: hidden !important;
        text-align: center;
        justify-content: center;
        font-family: sans-serif;
    }

    img{
        display: block;
        margin: auto;
        width: 100%;
        border: 3px solid #FF8200;
        box-shadow: 0px 0px 6px #FF8200;
    }

    p{
        color: #FF8200;
    }

    a{
        text-decoration: none;
    }

    header, footer{
        background-color: #FF8200;
        padding: 15px;
        color: white;
    }

    div{
        margin: 10px 5px;
    }

    h1 {
        font-size: 30px;
        width: 85%;
        margin: 20px auto;
        background: linear-gradient(to bottom, #FF8200, #FF4500);
        -webkit-background-clip: text;  /* for WebKit browsers like Chrome & Safari */
        background-clip: text;          /* for future browsers that adopt the specification */
        color: transparent;             /* Make the text color transparent, so only the background shows */
        font-weight: 900;
        line-height: 1.1em;
    }
    

    h2 {
        font-size: 30px;
        width: 85%;
        margin: 20px auto;
        background: linear-gradient(to bottom, #FF8200, #FF4500);
        -webkit-background-clip: text;  /* for WebKit browsers like Chrome & Safari */
        background-clip: text;          /* for future browsers that adopt the specification */
        color: transparent;             /* Make the text color transparent, so only the background shows */
        font-weight: 900;
        line-height: 1.1em;
    }

    .div-button{
        padding: 25px 0px;
        width: 95%;
        background-color: #FF8200;
        border-radius: 6px;
        animation: pulse 1s infinite;
    }

    a{
        color: white;
        font-size: 18px;
        font-weight: bold;
    }
    
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.05); /* You can adjust this value for a more pronounced pulse */
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  